<h3>Log In Below:</h3>

<form action="/users/login" method="POST">
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <button type="submit" value="submit">Log In</button>
</form>
