<h3>Sign Up or Log In here:</h3>
  <ul>
    <li> <a href="/users/create_user">Sign Up</a> </li>
        
    <% if !logged_in? %>
      <li> <a href="/users/login">Log In</a> </li>
    <% end %>
  </ul>